section.about
    .container
        .title.title--with-bottom-line
            h2#pp.title.title__header About us
            .title__text We are added our major Services

        ul.about__list
            li.about__item
                .icon.icon-like
                h3.about__header Facebook Marketing
                p.about__description Lorem ipsum dolor sit amet. Quo minus id, quod maxime placeat, facere possimus,omnis dolor. Amet, consectetur, adipisci velit, sed quia.
            li.about__item
                .icon.icon-book
                h3.about__header Landing pages Creation
                p.about__description Lorem ipsum dolor sit amet. Quo minus id, quod maxime placeat, facere possimus,omnis dolor. Amet, consectetur, adipisci velit, sed quia.
            li.about__item
                .icon.icon-message
                h3.about__header Ads management
                p.about__description Lorem ipsum dolor sit amet. Quo minus id, quod maxime placeat, facere possimus,omnis dolor. Amet, consectetur, adipisci velit, sed quia.