.contacts
    a.contact(href="tel:+380992717715")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text +380992717715
    a.contact(href="mailto:selezneva_kseniia@ukr.net")
        i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
        span.contact__text selezneva_kseniia@ukr.net
    a.facebook-icon(href="facebook.com")
        i.fa.fa-facebook(aria-hidden="true")