doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="css/main.min.css")
    link( rel="search" href="http://localhost:3000/search/search.xml"
    type="application/search+xml"
    title="Landing")
    script(src='lib/jquery-3.2.1.min.js')
    title Landing
  body
    include sections/header
    include sections/hero
    include sections/about
    include sections/approach
    include sections/work
    include sections/form
    include sections/footer
    script(src='js/main.min.js')