.approach{
  padding: 86px 0 94px;
  background: linear-gradient(#afbbf8, #fff 99%);

  @media(max-width: 985px){
    padding-top:20px;
    padding-bottom:20px;
  }


  &__list{
    counter-reset: count;
    padding: 0;
    margin:0;
  }
  &__item{
    margin-bottom:40px;
    border-radius: 5px;
    box-shadow: -1px -1px 10px 1px rgba(214,214,214,1);
    color:#424242;
    background: #fff;
    transition: all 0.4s ease;
    @media(max-width: 985px){
      padding:25px 28px;
    }
    &:hover{
      box-shadow: 0 40px 40px rgba(0,0,0,.16);
      transform: translate(0,-8px);
    }

    &:nth-child(2n){
      display: flex;
      flex-direction: row-reverse;
      text-align: right;

      .approach__step{
        right: auto;
        left: -52px;
      }
      @media(max-width: 700px){
        display: block;
      }
    }

  }
  &__picture{
    display: block;
    width: 100%;
    height: 100%;
  }
  &__image{
    position: relative;
    max-width: 340px;
    max-height: 236px;
    display: inline-block;
    vertical-align: top;
    @media (max-width: 985px) {
      max-width: calc(340px/1.5);
      max-height: calc(236px/1.5);
    }
    @media (max-width: 700px) {
      display: block;
      margin: auto;
    }
  }
  &__text{
    display: inline-block;
    vertical-align: top;
    width: 64%;
    padding: 70px 78px 55px 98px;
    font-size: 0.875rem;
    @media(max-width: 985px){
      padding:25px 28px;
    }
    @media(max-width: 700px){
      width:100%;
      text-align: center;
    }
  }
  &__step{
    @include centerer-y();
    right: -52px;
    width: 103px;
    height: 103px;
    padding-top: 10px;
    border-radius: 5px ;
    border: 2px solid #fff;
    text-align: center;
    font-size: 1.25rem;
    background-color: #de2b24;
    color: #fff;

    &:before{
      content: counter(count);
      counter-increment: count;
      display: block;
      font-family: $ff-steps;
      font-size: 3rem;
      line-height: 1;
      color: #fff;
    }
    @media(max-width: 985px){
      display:none;
    }

  }
  &__title{
    margin-bottom: 6px;
    font-size: 1.125rem;
    font-weight: bold;
    font-family: $ff-main-bold;
  }

  &__description{
    margin:0;
    line-height: 1.5;
  }
}