.hero{
  min-height: 680px;
  padding: 174px 0;
  text-align: center;
  color:#fff;
  background: #ccc url("../../images/Picture.jpg") fixed center/cover no-repeat;
  @media(max-width: 360px){
    min-height: 400px;
  }
  @media only screen and (max-device-width: 1024px) {
      background-attachment: scroll;
  }

  &__about{
    font-family: $ff-main-bold;
    font-size: 3rem;
    line-height: 1;
  }

  &__title{
    margin-top: 0;
    margin-bottom: 27px;
    font-family: $ff-main-light;
  }
  @media(max-width: 985px){
    padding-top:20px;
    padding-bottom:20px;
  }

  .button-uppercase{
    padding: 21px 41px;
    border-radius: 8px;
    font-size: 1.5rem;
    font-family: $ff-main-bold;
    letter-spacing: 1px;
  }


}