.work{
  padding: 110px 0;
  background: linear-gradient(#c0c0c0 , #de2b24 95%);
  color:#fff;
  @media(max-width: 985px){
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 60px;
    padding-right: 60px;
  }


  &__list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
  }
  .title--with-bottom-line{
    &:after{
      background: #fff;
    }
  }
  &__item{
    width: 256px;
    height: 256px;
    font-weight: bold;
    color: #ffffff;
    background: #f35e59;

    &--name{
      position:relative;
      padding: 130px 40px 75px 40px;
      text-align: center;
      cursor:url(./../../images/icons/mouse.png), auto;;
      &:before{
        @include centerer-x;
        content: '';
        top: 74px;
      }
    }
  }
  &__name{
    font-size: 1.625rem;
  }

  &__picture{
    width: 100%;
    height: 100%;
  }
  &__description{
    font-size: 1rem;
  }
  &__large__picture{
  height: 140%;
  width: 140%;
  margin: -20% 0 0 -20%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  &__zindex{
    z-index: 2
  }
}
